@import '~bootstrap/scss/bootstrap';

body {
  padding-top: 80px;
}

h1 {
  text-align: center;
}

.center {
  text-align: center;
}

#rails-img {
  width: 200px;
  height: 80px;
}

footer {
  background-color: #212529;
  color: white;
  padding-top: 5px;

  small {
    float: left;
  }

  a {
    color: white;
  }

  ul {
    list-style: none;
    float: right;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

// sidebar

aside {
  section.user_info {
    margin-top: 20px;
  }

  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar-edit {
  margin-top: 15px;
}

.column {
  border: 2px solid black;
}

// forms

.sign-up {
  margin: auto;
}

.btn-create {
  margin: auto;
  display: block;
  width: 100%;
}

#error-explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    background-color: #f5c6cb;
  }
}

// Users index

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
  }
}

.delete-user {
  float: right;
  margin-right: 30px;
}